@{
    Layout = "_Layout";
}

<h1>Лабораторна 3: ASP.NET Core MVC + OAuth2</h1>

<p>
    Проєкт демонструє:
</p>

<ul>
    <li>Реєстрація/логін/профіль користувача</li>
    <li>Зовнішня авторизація через OAuth2 </li>
    <li>3 підпрограми (завантаження файлу, підпис, верифікація) — доступні лише після авторизації</li>
</ul>

<hr />

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p> Ви увійшли як <b>@User.Identity.Name</b></p>
    <p><a href="/Sign/Index" class="btn btn-success">Перейти до підпису документів</a></p>
}
else
{
    <a href="/FakeSSO/LoginDemo" class="btn btn-primary">🔐 Увійти через SSO</a>
}
