@{
    Layout = "_Layout";
}
<h1>Лабораторна 3: ASP.NET Core MVC + OAuth2</h1>
<p>
    Проєкт демонструє:
</p>
<ul>
    <li>Реєстрація/логін/профіль користувача</li>
    <li>Зовнішня авторизація через OAuth2 </li>
    <li>3 підпрограми (завантаження файлу, підпис, верифікація) — доступні лише після авторизації</li>
</ul>
